.container {
  height: 100vh;
  display: flex;
}

.activeNavLink {
  background-color: #f33f40;
  color: #fff;
}

/* left navigation styling */

.container #left_sidebar {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-right: 2px solid #ececec;
}

.container #left_sidebar h1 {
  font-size: 35px;
  color: #f33f40;
  margin-bottom: 20px;
}

.container #left_sidebar p:nth-of-type(1) {
  margin-bottom: 10px;
}

.container #left_sidebar p {
  border: 1px solid #ececec;
  padding: 10px 5px;
  border-radius: 5px;
}

.container #left_sidebar p:hover {
  background-color: #f33f40;
  color: #fff;
  cursor: pointer;
}

.container #left_sidebar #personalWatchlistNavigationBtn{
  position: relative;
}

.container #left_sidebar #personalWatchlistNavigationBtn #listCounter {
  position: absolute;
  right: 12px;
  top: 4px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #000;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container #left_sidebar .authDiv {
  margin-top: auto;
  border: 1px solid #ececec;
  display: flex;
  align-items: center;
  padding: 10px 5px;
  gap: 5px;
  border-radius: 5px;
}

.container #left_sidebar .authDiv span .bi-person-circle::before {
  font-size: 18px;
} 

.container #left_sidebar .authDiv #moreOptions {
  margin-left: auto;
  outline: none;
  border: none;
  background-color: transparent;
}

.container #left_sidebar .authDiv #moreOptions .bi-three-dots::before {
  font-size: 24px;
}

/* right content styling */

.container #right_content {
  flex-basis: 80%;
  padding: 30px 60px;
  overflow-x: hidden;
  overflow-y: auto;
}

.container #right_content #homeDiv .upperInfoDiv {
  border: 2px solid #aa5a5c;
  border-radius: 10px;
  padding: 15px;
}

.container #right_content #homeDiv .upperInfoDiv h2 {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 25px;
}

.container #right_content #homeDiv .upperInfoDiv h2 .redHeading {
  color: #f33f40;
}

.container #right_content #homeDiv .upperInfoDiv p {
  font-size: 18px;
}

.container #right_content #homeDiv .upperInfoDiv p:nth-of-type(1) {
  margin-bottom: 12px;
}

.container #right_content #homeDiv .upperInfoDiv p:nth-of-type(2) .bi-bookmark-plus-fill::before {
  font-size: 25px;
}

.container #right_content #homeDiv #moviesSearchForm {
  border: 2px solid #ececec;
  display: flex;
  align-items: center;
  margin: 25px 0;
  border-radius: 10px;
  padding-left: 10px;
}

.container #right_content #homeDiv #moviesSearchForm input {
  border: none;
  outline: none;
  flex: 1;
  padding: 15px;
  font-size: 15px;
}

.container #right_content #homeDiv #moviesSearchForm button {
  padding: 15px 25px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #f33f40;
  color: #fff;
  font-size: 15px;
}

.container #right_content #homeDiv #moviesSearchForm span .bi-search::before {
  font-size: 20px;
}

.container #right_content #moviesDataContainer {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  /* grid-template-rows: 500px; */
  justify-content: space-between;
}

.container #right_content #moviesDataContainer .movieDetails {
  margin-bottom: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.container #right_content #moviesDataContainer .movieDetails .upperPosterDiv {
  flex-basis: 70%;
  position: relative;
}

.container #right_content #moviesDataContainer .movieDetails .upperPosterDiv .plusBtn {
  color: gray;
  font-size: 50px;
  position: absolute;
  top: -2px;
  left: -7px;
  cursor: pointer;
}

.container #right_content #moviesDataContainer .movieDetails .upperPosterDiv img {
  width: 300px;
  height: 350px;
  object-fit: fill;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.container #right_content #moviesDataContainer .movieDetails .lowerInfoDiv {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5px;
  padding: 15px;
  background-color: #ececec;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.container #right_content #myListsDiv {
  display: none;
}