.container {
  height: 100vh;
  display: flex;
  /* flex-wrap: wrap; */
}

.activeNavLink {
  background-color: #f33f40;
  color: #fff;
}

/* left navigation styling */

.container #left_sidebar {
  flex-basis: 20%;
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-right: 2px solid #ececec;
  position: relative;
}

.container #left_sidebar .loginStatusDiv {
  position: absolute;
  bottom: 70px;
  right: 15px;
  padding: 20px 10px;
  background: #ececec;
  border-radius: 5px;
}

.container #left_sidebar .loginStatusDiv  #logoutBtn {
  display: block;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #f33f40;
  border: none;
  color: #fff;
}
.container #left_sidebar .loginStatusDiv a {
  display: block;
  text-decoration: none;
  color: #fff;
  background-color: #f33f40;
  padding: 5px 10px;
  border-radius: 5px;
}

.container #left_sidebar h1 {
  font-size: 35px;
  color: #f33f40;
  margin-bottom: 20px;
}

.container #left_sidebar p:nth-of-type(1) {
  margin-bottom: 10px;
}

.container #left_sidebar p {
  border: 1px solid #ececec;
  padding: 10px 5px;
  border-radius: 5px;
}

.container #left_sidebar p:hover {
  background-color: #f33f40;
  color: #fff;
  cursor: pointer;
}

.container #left_sidebar #personalWatchlistNavigationBtn{
  position: relative;
}

.container #left_sidebar #personalWatchlistNavigationBtn #listCounter {
  position: absolute;
  right: 12px;
  top: 4px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #000;
  background-color: #ececec;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container #left_sidebar .authDiv {
  margin-top: auto;
  border: 1px solid #ececec;
  display: flex;
  align-items: center;
  padding: 10px 5px;
  gap: 5px;
  border-radius: 5px;
}

.container #left_sidebar .authDiv span .bi-person-circle::before {
  font-size: 18px;
} 

.container #left_sidebar .authDiv #moreOptions {
  margin-left: auto;
  outline: none;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container #left_sidebar .authDiv #moreOptions:hover {
  color: rgba(0,0,0,0.8);
}

.container #left_sidebar .authDiv #moreOptions .bi-three-dots::before {
  font-size: 24px;
}

/* right content styling */

.container #right_content {
  flex-basis: 80%;
  padding: 30px 60px;
  overflow-x: hidden;
  overflow-y: auto;
}

.container #right_content #homeDiv .upperInfoDiv {
  border: 2px solid #aa5a5c;
  border-radius: 10px;
  padding: 15px;
}

.container #right_content #homeDiv .upperInfoDiv h2 {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 25px;
}

.container #right_content #homeDiv .upperInfoDiv h2 .redHeading {
  color: #f33f40;
}

.container #right_content #homeDiv .upperInfoDiv p {
  font-size: 18px;
}

.container #right_content #homeDiv .upperInfoDiv p:nth-of-type(1) {
  margin-bottom: 12px;
}

.container #right_content #homeDiv .upperInfoDiv p:nth-of-type(2) .bi-bookmark-plus-fill::before {
  font-size: 25px;
}

.container #right_content #homeDiv #moviesSearchForm {
  border: 2px solid #ececec;
  display: flex;
  align-items: center;
  margin: 25px 0;
  border-radius: 10px;
  padding-left: 10px;
}

.container #right_content #homeDiv #moviesSearchForm input {
  border: none;
  outline: none;
  flex: 1;
  padding: 15px;
  font-size: 15px;
}

.container #right_content #homeDiv #moviesSearchForm button {
  padding: 15px 25px;
  border-radius: 5px;
  border: none;
  background-color: #f33f40;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}

.container #right_content #homeDiv #moviesSearchForm span .bi-search::before {
  font-size: 20px;
}

.container #right_content #moviesDataContainer {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: flex-start;
  gap: 25px;
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.5s linear infinite;
  margin: 20px auto;
  grid-column: 1 / -1;
  justify-self: center; 
  align-self: center; 
  display: none;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.container #right_content #moviesDataContainer .movieDetails {
  margin-bottom: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
}

.container #right_content #moviesDataContainer .movieDetails .upperPosterDiv {
  flex-basis: 70%;
  position: relative;
}

.container #right_content #moviesDataContainer .movieDetails .upperPosterDiv .plusBtn {
  font-size: 50px;
  position: absolute;
  top: -2px;
  left: -7px;
  cursor: pointer;
}

.container #right_content #moviesDataContainer .movieDetails .upperPosterDiv img {
  min-width: 300px;
  width: 100%;
  height: 350px;
  object-fit: fill;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.container #right_content #moviesDataContainer .movieDetails .upperPosterDiv img:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.container #right_content #moviesDataContainer .movieDetails .lowerInfoDiv {
  flex-basis: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5px;
  padding: 15px;
  background-color: #ececec;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.container #right_content #homeDiv .paginationDiv {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  display: none;
}

.container #right_content #homeDiv .paginationDiv #prevBtn,
.container #right_content #homeDiv .paginationDiv #nextBtn {
  color: #fff;
  background-color: #f33f40;
  border: none;
  outline: none;
  padding: 6px 15px;
  border-radius: 5px;
  cursor: pointer;
}


/* Personal Watchlist styling */
.container #right_content #myListsDiv {
  display: none;
}

.container #right_content #myListsDiv .upperInfoDiv {
  border: 2px solid #aa5a5c;
  border-radius: 10px;
  padding: 15px;
}

.container #right_content #myListsDiv .upperInfoDiv h2 {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 25px;
}

.container #right_content #myListsDiv .upperInfoDiv h2 .redHeading {
  color: #f33f40;
}

.container #right_content #myListsDiv .upperInfoDiv p {
  font-size: 18px;
}


.container #right_content #myListsDiv .upperInfoDiv p  .bi-check-circle-fill::before,
.container #right_content #myListsDiv .upperInfoDiv p  .bi-bookmark-dash-fill::before  {
  font-size: 25px;
}



/* watchlist div styling */

.container #right_content #myListsDiv .watchlistDiv {
  display: grid;
  grid-template-columns: repeat(3,300px);
  justify-content: flex-start;
  gap: 25px;
  margin: 20px 0;
}

.container #right_content #myListsDiv .watchlistDiv  .watchlistMovieDiv {
  margin-bottom: 10px;
}

.container #right_content #myListsDiv .watchlistDiv  .watchlistMovieDiv .imgDiv {
  width: 300px;
  height: 350px;
}

.container #right_content #myListsDiv .watchlistDiv  .watchlistMovieDiv .imgDiv img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.container #right_content #myListsDiv .watchlistDiv  .watchlistMovieDiv .imgDiv img:hover {
  cursor: pointer;
  transform: scale(1.01);
}

.container #right_content #myListsDiv .watchlistDiv  .watchlistMovieDiv .controlsDiv {
  padding: 10px;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ececec;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}


.container #right_content #myListsDiv .watchlistDiv  .watchlistMovieDiv .controlsDiv .controls {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.container #right_content #myListsDiv .watchlistDiv  .watchlistMovieDiv .controlsDiv .controls span .bi-bookmark-dash-fill::before,.container #right_content #myListsDiv .watchlistDiv  .watchlistMovieDiv .controlsDiv .controls span .bi-check-circle-fill::before {
  font-size: 25px;
  cursor: pointer;
}


.beforeLoginDiv,.afterLoginDiv {
  display: none;
}


/* responsiveness */

@media(max-width:1330px) {
  .container #right_content #moviesDataContainer,
  .container #right_content #myListsDiv .watchlistDiv {
    grid-template-columns: repeat(2, 350px); 
    gap: 15px;
  }

  .container #right_content #myListsDiv .watchlistDiv  .watchlistMovieDiv .imgDiv{
    width: 350px;
  }
}

@media(max-width:940px) {
  .container #right_content #moviesDataContainer,
  .container #right_content #myListsDiv .watchlistDiv {
    grid-template-columns: repeat(1, 350px);
    justify-content: center; 
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; 
  }

  .container #left_sidebar .authDiv {
    margin-top: 10px;
  }

  .container #left_sidebar {
    border-right: none;
    border-bottom: 2px solid #ececec;
  }

  .container #right_content {
    flex-basis: 100%; 
    padding: 20px;
  }

  .container #right_content #homeDiv .paginationDiv{
    justify-content: center;
  }
}

/* @media(max-width:600px){

} */

@media (max-width: 480px) {
  .container #left_sidebar {
    padding: 10px;
  }

  .container #right_content {
    padding: 15px;
  }

  .container #right_content #moviesSearchForm input {
    padding: 10px;
    font-size: 14px;
  }

  .container #right_content #moviesSearchForm button {
    padding: 10px 15px;
    font-size: 14px;
  }
}